:root {
    --background-color: #e6e6e6;
    --text-color: #333;
    --tab-background-color: hsl(189, 78%, 52%);
    --tab-background-color-60: hsla(189, 78%, 52%, 0.602);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    padding: 0 10px;
}
ul,
ol {
    list-style: none;
}
p {
    line-height: 25px;
    margin: 10px 0;
}
.tab {
    width: 100%;
    max-width: 650px;
    margin: 50px auto 0 auto;
}
.tab ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li button {
        border: none;
        padding: 15px 30px;
        background-color: var(--background-color);
        border-radius: 8px 8px 0 0;
        border-color: orange;
        font-size: clamp(0.6rem, 3vw, 1rem);
    }
    li button:hover {
        cursor: pointer;
    }
    li button[data-active="false"]:hover {
        text-decoration: underline;
    }
    li button[data-active="true"] {
        background-color: var(--tab-background-color-60);
    }
}
.tabs-content {
    section {
    color: var(--text-color);

        border-radius: 8px;
        @media (max-width: 368px) {
            border-radius: 0px 8px 8px 8px;
        }
    }
    section[data-tab="first-tab"] {
        border-radius: 0px 8px 8px 8px;
    }
    section[data-tab][data-active="true"] {
        background-color: var(--tab-background-color);
        padding: 15px;
    }
    section[data-tab][data-active="false"] {
        display: none;
    }
}